@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
body{
    z-index: -1;
}
.clock{
    width: fit-content;
    position: relative;
}
.digital-border{
    position: relative;
    border-radius: 7px;
    font-size: 27px;
    padding: 5px 10px;
    background: white;
}
.content-digital-clock {
    width: fit-content;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 35%, rgba(49,186,150,1) 100%);
    background-clip: text;
    color: transparent;
    font-weight: 600;
}
.digital-border::before,
.digital-border::after{
    content: "";
    position: absolute;
    inset: -.2rem;
    border-radius: inherit;
    background: rgb(0,212,255);
    background: conic-gradient( from var(--gradient-angle), rgba(0,212,255,1) , rgba(0,255,188,1), rgba(0,255,188,1) , rgba(0,212,255,1)  );
    animation: rotation 3s linear infinite;
    z-index: -1;
}
.digital-border::after{
    filter: blur(.5rem);
}
.day-in-clock{
    width: fit-content;
    color: white;
    font-size: 14px;
    font-weight:700;
    padding: 3px 5px;
    border-radius: 5px;
    margin-bottom: 7px;
      background: conic-gradient( from var(--gradient-angle), rgba(0,212,255,1) , rgba(0,255,188,1), rgba(0,255,188,1) , rgba(0,212,255,1)  );
    animation: rotation 7s linear infinite;
    z-index: 2;
}
.month-in-clock{
    width: fit-content;
    color: white;
    font-size: 14px;
    font-weight:700;
    padding: 3px 5px;
    border-radius: 5px;
    margin-top: 7px;
    position: absolute;
    right: 0;
    bottom: -35px;
      background: conic-gradient( from var(--gradient-angle), rgba(0,212,255,1) , rgba(0,255,188,1), rgba(0,255,188,1) , rgba(0,212,255,1)  );
    animation: rotation 7s linear infinite;
    z-index: 2;
}
@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}