@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    overflow: hidden;
}
.loginpage{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.login-logo{
    width: 150px;
}
input[type="text"],
input[type="password"],
select{
    width: 315px;
    height: 41.31px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 12px;
    padding: 0 10px 0 35px;
    box-shadow: 0 4 10 rgba(0, 0, 0, .25);
    font-weight: 400;
    margin: 10px 0;
    color: black;

}

.input-name{
    position: relative;
}
.input-name p{
    position: absolute;
    z-index: 2;
    top: 17px;
    left: 34px;
    pointer-events: none;
    color: #636364;
    font-size: 15px;
    transition: .2s all ease-in;

}
.testing p {
    color: #31BA96;
}
h1{
    font-weight: 500;
    font-size: 39px;
    text-align: left;
}
.input-name{
    text-align: left;
}
.input-name input:valid ~ p,
.input-name input:focus ~ p
{
    color: white;
    background-color: black;
    padding: 0 5px;
    border-radius: 6px;
    transform: translateX(10px) translateY(-18px);
    font-size: 13px;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.testing input:valid ~ p,
.testing input:focus ~ p{
    background-color: #31BA96;
    border-left: 1px solid #31BA96;
    border-right: 1px solid #31BA96;
}
.input-name input:valid,
.input-name input:focus{
    border: 2px solid black;
}
.testing input:valid,
.testing input:focus{
    border: 2px solid #31BA96;
    outline: #31BA96;
}
.testing input{
    background-color: #dcfff6;
    /* background-opaci: ; */
    color: #31BA96;
    border-radius: 20px;
    /* padding: 5px 30px 0 5px; */
    border: 1px solid #31BA96;
}
.login{
    max-width: max-content;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}


.description-p{
    font-size: 12px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 30px;
}
.remember{
    font-size: 13px;
    font-weight: 500;
    margin-left: 7px;
}
.forget{
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.moreoptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login button,
.demandesection button{
    display: block;
    width: 315px;
    height: 41.31px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4 10 rgba(0, 0, 0, .25);
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: #0AA9E6;
    margin-bottom: 10px;
    cursor: pointer;

}
.demandesection button{
    text-decoration: none;
    border: 2px solid #0AA9E6;
    background-color: transparent;
    color: #0AA9E6;
    margin: 15px 0;
    
}
.demandesection a{
    text-decoration: none;
    color: #0AA9E6;
}
.demandesection{
    position: relative;
    min-height: 687px;
    min-width: 412px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.demandesection h1{
    font-size: 45px;
    color: #0AA9E6;
}
.demandesection >*{
    margin: 20px 0;
}
.demandesection .description-p{
    font-size: 15px;
}
.demandesection .noaccount p{
    font-size: 12px;
    font-weight: 400;
}
.demandesection svg{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.gradient1{
    position: absolute;
    top: -200px;
    right: -200px;
    z-index: -2;
    width: 700px;
}
.gradient2{
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 500px;
}
.chooseoption{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 0 4 10 rgba(0, 0, 0, .25);
    margin: 15px 0;
}
.chooseoption li{
    padding: 10px 20px;
    border-radius:10px;
    background-color: white;
    margin: 0 4px;
    cursor: pointer;
}
.chooseoption li.active{
    background-color: #0AA9E6;
    color: white;
}
.icon{
    position: absolute;
    z-index: 2;
    top: 18px;
    left: 10px;
    pointer-events: none;
    color: #636364;
    font-size: 18px;
}
.testing .icon{
    color: black;
}


.input-name input:valid ~ .icon,
.input-name input:focus ~ .icon
{
    color: black;

}


  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .wrapper ul.selection-list {
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgb(236, 235, 235),
    -4px -4px 4px rgb(236, 235, 235);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0;
    margin: 0;
    margin-top: 2em;
  }
  .wrapper ul.selection-list li {
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0.5em;
    position: relative;
    z-index: 2;
  }
  .wrapper ul.selection-list li a {
    color: #363b48;
    display: block;
    text-align: center;
    text-decoration: none;
    /* font-size: ; */
    outline: none;
    padding: 0.5em;
    width: 12em;
  }
  .wrapper ul.selection-list li a i {
    margin: 0 0.5em 0 0;
  }
  .wrapper ul.selection-list li:first-child.is-active a {
    color: white;
    font-weight: 500;
  }
  .wrapper ul.selection-list li:nth-child(2).is-active a {
    color: white;
    font-weight: 500;
    
  }

  .wrapper ul.selection-list .selection-container {
    background: #28bbff;
    /* border: 1px solid #ffffff; */
    border-radius: 50px;
    -moz-box-shadow: 0px 5px 10px -5px #999999;
    -ms-box-shadow: 0px 5px 10px -5px #999999;
    -webkit-box-shadow: 0px 5px 10px -5px #999999;
    box-shadow: 0px 5px 10px -5px #999999;
    position: absolute;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: 1;
  }
  .demander-un-compte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
  }